@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  .screen-container {
    @apply max-w-[1200px] w-11/12 mx-auto lg:w-10/12;
  }
}
